# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

*.class
.classpath
.project
*.iml
.settings/
.idea/
.gradle/
build/
